@mixin flexprop{
    flex-direction: column;
    display: flex;
}

@mixin h1p{
        color:brown;
        font-size: 10rem - 5rem;  /* - * / + (== , !=) ,<, > , %, <=, >=,  Operators in SCSS */
        letter-spacing: 0.3rem;
}