@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main_header{
    @include flexprop;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // display: -ms-grid;
    place-items: center;
    background-color: aquamarine;
    
    // nesting
    h1{
        
        @include h1p;
        &:hover {
            color:greenyellow;
        }
    }
    
    p{
        @include h1p;

        &:hover{
            color:greenyellow;
        }
    }
}

